
01_borrowers_reliability/.ipynb_checkpoints/01_borrowers_reliability-checkpoint.ipynb
.DS_Store
13_bootcamp_sql/CA.pem
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_ab-test-checkpoint.ipynb
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_main-checkpoint.ipynb
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_sql-checkpoint.ipynb
12_bootcamp_ab-test/ab_project_marketing_events.csv
12_bootcamp_ab-test/final_ab_events.csv
12_bootcamp_ab-test/final_ab_new_users.csv
12_bootcamp_ab-test/final_ab_participants.csv
11_сustomer_retention/gym_churn.csv
11_сustomer_retention/.ipynb_checkpoints/---10 Анализ и подготовка плана действий по удержанию клиентов сети фитнес-центров-checkpoint.ipynb
11_сustomer_retention/.ipynb_checkpoints/11_сustomer_retention-checkpoint.ipynb
02_estate_market/.ipynb_checkpoints/02_estate_market-checkpoint.ipynb
02_estate_market/real_estate_data.csv
