
01_borrowers_reliability/.ipynb_checkpoints/01_borrowers_reliability-checkpoint.ipynb
.DS_Store
13_bootcamp_sql/CA.pem
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_ab-test-checkpoint.ipynb
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_main-checkpoint.ipynb
12_bootcamp_ab-test/.ipynb_checkpoints/12_bootcamp_sql-checkpoint.ipynb
12_bootcamp_ab-test/ab_project_marketing_events.csv
12_bootcamp_ab-test/final_ab_events.csv
12_bootcamp_ab-test/final_ab_new_users.csv
12_bootcamp_ab-test/final_ab_participants.csv
11_сustomer_retention/gym_churn.csv
11_сustomer_retention/.ipynb_checkpoints/---10 Анализ и подготовка плана действий по удержанию клиентов сети фитнес-центров-checkpoint.ipynb
11_сustomer_retention/.ipynb_checkpoints/11_сustomer_retention-checkpoint.ipynb
02_estate_market/.ipynb_checkpoints/02_estate_market-checkpoint.ipynb
02_estate_market/real_estate_data.csv
14_game_events/.ipynb_checkpoints/14_game_events-checkpoint.ipynb
14_game_events/14_game_events.key
14_game_events/ad_costs.csv
14_game_events/events.csv
14_game_events/user_source.csv
00_musical_preferences/.ipynb_checkpoints/00_musical_preferences-checkpoint.ipynb
00_musical_preferences/music_project.csv
03_telecom_tariff/.ipynb_checkpoints/03_telecom_tariff-checkpoint.ipynb
03_telecom_tariff/calls.csv
03_telecom_tariff/internet.csv
03_telecom_tariff/tariffs.csv
03_telecom_tariff/messages.csv
03_telecom_tariff/users.csv
04_games_sales/.ipynb_checkpoints/4 Анализ существующих тенденций на рынке видеоигр-checkpoint.ipynb
04_games_sales/games.csv
04_games_sales/.ipynb_checkpoints/04_games_sales-checkpoint.ipynb
praсtiсum_env_macos.yml.zip
01_borrowers_reliability/data.csv
06_sales/.ipynb_checkpoints/06_sales-checkpoint.ipynb
06_sales/costs.csv
06_sales/orders_log.csv
06_sales/visits_log.csv
09_user_behavior/logs_exp.csv
09_user_behavior/.ipynb_checkpoints/09_user_behavior-checkpoint.ipynb
09_user_behavior/.ipynb_checkpoints/9 Анализ пользователей мобильного приложения-checkpoint.ipynb
05_sql_requests/.ipynb_checkpoints/05_sql_requests-checkpoint.ipynb
07_ab_test/hypothesis.csv
07_ab_test/orders.csv
07_ab_test/visitors.csv
07_ab_test/.ipynb_checkpoints/07_ab_test-checkpoint.ipynb
08_food_market/.ipynb_checkpoints/08 Анализ рынка заведений общественного питания Москвы-checkpoint.ipynb
08_food_market/.ipynb_checkpoints/08_food_market-checkpoint.ipynb
08_food_market/.ipynb_checkpoints/08_plotly-checkpoint.ipynb
08_food_market/.ipynb_checkpoints/Yandex Geocoding-checkpoint.ipynb
08_food_market/.ipynb_checkpoints/yandex map parsing-checkpoint.ipynb
08_food_market/Yandex Geocoding.ipynb
08_food_market/yandex map parsing.ipynb
08_food_market/rest_data.csv
